.icon-mail:before {
  content: "\e600";
}
.icon-googleplus:before {
  content: "\e601";
}
.icon-facebook:before {
  content: "\e602";
}
.icon-instagram:before {
  content: "\e603";
}
.icon-twitter:before {
  content: "\e604";
}
.icon-feed:before {
  content: "\e608";
}
.icon-github:before {
  content: "\e605";
}
.icon-linkedin:before {
  content: "\e606";
}
.icon-pinterest:before {
  content: "\e607";
}
.icon-search:before {
  content: "\f002";
}
.icon-cloud-download:before {
  content: "\f0ed";
}
.icon-chevron-circle-left:before {
  content: "\f137";
}
.icon-chevron-circle-right:before {
  content: "\f138";
}
.icon-search2:before {
  content: "\e036";
}
.icon-zoom-in:before {
  content: "\e037";
}
.icon-zoom-out:before {
  content: "\e038";
}
.icon-bag:before {
  content: "\e106";
}
.icon-menu:before {
  content: "\e120";
}
